
html {
    font-size: 22px;
    
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 95vh;
    max-width: 1000px;
    color: whitesmoke;
    margin: 0 auto;
    padding: 1rem;
    border: 5px dotted #239700;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

ol, li {
    font-family:'Times New Roman', Times, serif;
    color: rgb(222, 235, 33);
    line-height: 47px;
    word-spacing: 5px;
}