

.container {
    padding: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.items {

    width: 220px;
    height: 230px;
    background-color: rgb(226, 209, 58);
    border: 1px solid black;
    margin: 10px;
}